.btn {
     @include flexCenter;
     border: none;
     background-color: transparent;
     cursor: pointer;

     &:focus {
          outline: none;
     }
}

.btn--submit {
     width: 15%;
}

.btn--play {
     margin-right: 3rem;
}

.btn--big {

     &:nth-child(2) {
          margin: 0 1rem;
     }

     &.btn--view {
          margin: .7rem auto 0 auto;
     }
}


// Icons

.icon {
     height: 1.8rem; 
     width: 1.8rem;

     &--magnifying-glass {
          fill: $gray;
     }

     &--mic {
          width: 15%;
          fill: $gray;
     }

     &--play,
     &--pause {
          height: 2.2em; 
          width: 2.2em;
          display: none;
     }

     &--active {
          display: block;
     }

     &--view {
          height: 2em; 
          width: 2em;
     }

     &--big {
          height: 5.5rem;
          width: 5.5rem;
     }

     &--volume {
          margin-right: 1rem;
     }

}