body {
     font-family: 'Rubik', sans-serif;
     font-weight: 400;
     line-height: 1.6;
     text-rendering: optimizeLegibility;
     color: $black;
}

.heading-first {
     font-size: 2.5rem;
     letter-spacing: .1rem;
     margin-top: 1rem;
}

.song,
.album {

     &__title,
     &__artist {
          margin-left: .6rem;
     }

     &__title {
          color: $black;
          font-size: 1.4rem;
          text-transform: capitalize;
     }

     &__artist {
          color: $gray;
          font-size: 1.2rem;
     }
}

.player-music-small {
     font-size: 1.1rem;

     &__title {
          font-weight: 500;
          text-transform: capitalize;
     }
}

.player-music {

     &__song-info > * {
          text-align: center;
          font-weight: 500;
     }

     &__song-title {
          font-size: 1.7rem;
          text-transform: capitalize;
     }

     &__song-artist {
          font-size: 1.5rem;
          color: $red;
     }
}

.spinner__text {
     color: $red;
     margin-top: 5rem;
     font-size: 1.5rem;
     font-weight: 500;
}