.song, 
.album {
     flex-basis: 12.5rem;
     margin-bottom: 2rem;
     
     &__cover {
          width: 100%;
          height: 12.5rem;
          border-radius: .4rem;
          box-shadow: 0 1.4rem 4rem rgba(197, 197, 197, 0.425);
     }
}