.player-music {
     position: absolute;
     top: 100%;
     left: 0;
     height: 100%;
     width: 100%;
     background-color: $white;
     padding: 2.5rem 2.4rem 1.5rem 2.4em;
     @include flexCenterVertical;
     flex-direction: column;
     transition: all .6s ease-in-out;

     &--active {
          top: 0;
     }

     &__content {
         text-align: center;
         width: 100%;
     }

     &__cover {
          height: 22rem;
          width: 22rem;
          border-radius: 1.2rem;
          box-shadow: 0 1.4rem 4rem rgb(168, 168, 168);
     }

     &__progress {
          margin-top: 2rem;
          width: 100%;
          @include flex;
          flex-direction: column;
     }

     &__progress-field {
          height: .3rem;
          @include flex;
          align-items: center;
          background-color: $gray-light-2;
          border-radius: 1rem;
          margin-bottom: .8rem;
          position: relative;
          cursor: pointer;
     }

     &__progress-current {
          content: "";
          flex-basis: 30%;
          height: 100%;
          display: block;
          background-color: $red;
          transition: all .2s ease-in-out;
     }

     &__progress-current-thumb {
          content: "";
          height: .7rem;
          width: .7rem;
          display: block;
          background-color: $red;
          border-radius: 50%;
          transition: all .2s ease-in-out;
     }

     &__time {
          display: flex;
          justify-content: space-between;
          font-weight: 500;
          color: $red;
          font-size: 1.1rem;
     }

     &__song-info {
          margin-top: 1.7rem;
     }

     &__controller {
          margin-top: 1.6rem;
          @include flexCenter;
     }

     &__volume {
          margin-top: 2.5rem;;
          @include flexCenterVertical;
     }

     &__volume-field {
          position: relative;
          height: .3rem;
          @include flexCenterVertical;
          flex: 1;
            background-color: $gray-light;
     }

     &__volume-range {
          -webkit-appearance: none;
          background-color: transparent;
          background-size: 100%;
          height: 100%;
          width: 100%;
          border-radius: 5rem;
          z-index: 10;

          &::-webkit-slider-thumb {
               -webkit-appearance: none;
               appearance: none;
               width: 2.5rem;
               height: 2.5rem;
               border-radius: 50%; 
               background: $white;
               border: 1px solid #ccc;
               cursor: pointer;
           }

          &:focus {
               outline: none;
          }
     }

     &__volume-progress {
        position: absolute;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        background-color: $red;
        z-index: 1;
     }
}