.player-music-small {
     width: 100%;
     overflow: hidden;
     @include flex;
     padding: .8rem 1.8rem;
     position: absolute;
     left: 0;
     bottom: 0;
     z-index: 1000;
     opacity: 0.96;
     background-color: $white;
     transform: translateY(10rem);
     transition: all .5s ease-in-out;

     &--active {
          transform: translateY(0rem);
     }

     &__bg {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          object-fit: cover;
          z-index: -1;
          filter: blur(6px);
          background-color: $white;
     }

     &__song {
          @include flexCenter;
          margin-right: auto;  
     }

     &__cover {
          height: 4rem;
          width: 4rem;
          margin-right: 1rem;
     }
}