.search-form {
     @include flexCenter;
     justify-content: space-between;
     width: 94%;
     margin: 0 auto;
     border-radius: .8rem;
     background-color: $gray-light;
     padding: .6rem 0 !important;
     margin-top: 1rem;
     color: $gray;

     &__text-input {
          width: 66%;
          border: 0;
          background-color: transparent;
          color: inherit;
          font-size: 1.4rem;
          font-weight: 300;

          &::-webkit-input-placeholder {
               color: inherit;
               font-size: inherit;
               font-weight: 300;
          }

          &:focus {
               outline: none;
          }
     }
}