.spinner {
     height: 30rem;
     width: 100%;
     @include flexCenter;
     flex-direction: column;

     &__loader {
          height: 6rem;
          width: 6rem;
          border: 10px solid $red;
          border-radius: 50%;
          position: relative;


          &::before {
               position: absolute;
               top: -3rem;
               left: -3rem;
               content: '';
               display: block;
               height: 10rem;
               width: 10rem;
               border-radius: 50%;
               border: 5px solid transparent;
               border-top-color: $red;
               border-bottom-color: $red;
               animation: spinn 1.5s ease-in-out infinite;
          }

     }
}

