/**************************************
***** BASIC 
***************************************/

*,
*:after,
*::before {
     margin: 0;
     padding: 0;
     box-sizing: inherit;
}

html {
     font-size: 62.5%; // 16px
}

body {
     @include flexCenter;
     box-sizing: border-box;
     overflow: hidden;
     height: 100vh;
     background-image: linear-gradient(rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.308)), url('../img/background.png');
     background-repeat: no-repeat;
     background-position: bottom;
     background-size: cover;
}

.scroll {
     &::-webkit-scrollbar {
          width: 0rem;
     }
}

.main {
     @extend .scroll;
     overflow-y: scroll;
}

.container {
     @include flexCenter;
     height: 100%;

     &__phone-shape {
          position: fixed;
          margin-top: 1rem;
          height: 71rem; 
          z-index: 1;
     }

     &__content {
          margin-top: 1rem;
          background-color: $white;
          width: 30rem;
          height: 53.2rem;
          border-radius: .6rem;
          z-index: 1000;
          display: flex;
          flex-direction: column;
          overflow: hidden;
          position: relative;
     }
}

.section {
     padding: 0 1.4rem 4rem 1.4rem;
     flex: 1 1 auto;
     display: none;

     &--active {
          display: block;
     }
}


.songs,
.albums {
     padding: 1.5rem 0 ;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
}




