@keyframes spinn {
     0% {
          transform: rotate(0deg) scale(1);
     }

     50% {
          transform: rotate(60deg) scale(1.2);
     }

     100% {
          transform: rotate(360deg) scale(1);
     }
}