@mixin flex {
     display: flex;
}

@mixin flexCenter {
     @include flex;
     justify-content: center;
     align-items: center;
}

@mixin flexCenterVertical {
     @include flex;
     align-items: center;
}

@mixin flexCenterHorizontal {
     @include flex;
     justify-content: center;
}

