.nav {
     margin-top: 1.5rem;
     padding:  0 1.4rem 1rem 1.4rem;
     border-bottom: 1px solid rgba(204, 204, 204, 0.089);

     &__list {
          list-style: none;
          @include flexCenter;
          justify-content: flex-start;
     }

     &__link {
          &:link,
          &:visited {
               font-size: 1.4rem;
               text-decoration: none;
               color: $red;
               font-weight: 500;
               margin-right: 1rem;
          }
     }
}